body {
  margin: 0;
  background: #0e0f14;
  color: white;
  font-family: Arial;
}

#topbar {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #1b1c25;
}

button {
  background: #2b2d3a;
  border: 0;
  color: white;
  padding: 6px 10px;
}

#app {
  display: flex;
  height: 55vh;
}

/* TIMELINE */
#timelineWrap {
  flex: 3;
  position: relative;
  overflow-x: auto;
  background: #151622;
}

#timeline {
  width: 4000px;
  height: 300px;
  position: relative;
}

.clip {
  position: absolute;
  height: 60px;
  background: #4a7dff;
  border-radius: 6px;
  overflow: hidden;
}

/* PLAYHEAD */
#playhead {
  position: absolute;
  width: 2px;
  height: 300px;
  background: red;
  left: 0;
}

/* MIXER */
#mixer {
  flex: 1;
  background: #1a1b26;
  padding: 10px;
}

.channel {
  margin: 10px 0;
}

/* BOTTOM */
#bottom {
  display: flex;
  height: 35vh;
}

#piano {
  flex: 1;
  background: #11121a;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#piano div {
  border: 1px solid #222;
}

#piano .on {
  background: #00ff99;
}

#sequencer {
  flex: 1;
  background: #141522;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#sequencer div {
  border: 1px solid #333;
}

#sequencer .active {
  background: orange;
}