body {
  margin: 0;
  background: #0d0f14;
  color: white;
  font-family: sans-serif;
}

#toolbar {
  padding: 10px;
  background: #1a1d26;
}

#app {
  display: flex;
  height: 50vh;
}

#timeline {
  flex: 3;
  background: #111;
  overflow-x: auto;
}

.track {
  height: 80px;
  border-bottom: 1px solid #222;
  position: relative;
}

.clip {
  position: absolute;
  height: 20px;
  background: #00ffcc;
  border-radius: 6px;
  cursor: grab;
}

#mixer {
  flex: 1;
  background: #181b24;
}

#bottom {
  display: flex;
  height: 30vh;
}

#pianoRoll, #drumRack {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 2px;
}

.cell {
  background: #222;
  height: 25px;
}

.active {
  background: orange;
}